[Desktop Entry]
Version=1.0
Name=Firefox Logan Dev NYK
Exec=/home/jaume/.local/bin/firefox-dev-logan-nyk %U
Icon=firefox-browser
Terminal=false
Type=Application
Categories=Network;VPN;Devel;
